.cardScreen
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

    .card
        width: 20%
        margin: 1rem

        .cardLogo
            display: flex
            width: 120px
            height: 120px
            margin-left: 60%
            margin-top: 10%
            object-fit: contain