.toolbar
    margin-top: 1rem
    display: flex
    flex-direction: row

    .widgetContainer
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 1rem
        cursor: pointer

        .icon
            height: 1.5rem
            width: 1.5rem
            background-color: #bbb
            border-radius: 50%
            display: inline-block

    .rightSide
        margin-left: auto

        .expSelect
            min-width: 6rem

    .slider
        min-width: 30%
        margin-left: auto
        margin-top: 0.5rem
