.btnContainer
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    margin-bottom: 1rem

.selected
    color: #FFF
    background-color: #F7C690

.dashboard
    .btn
        margin: 0.25rem
        background-color: #70446C
        color: white
        &:hover
            background-color: #F7C690
            color: black
    .selected
        background-color: #F7C690
        color: black
