.reviewContainer
    width: 80%

    .row
        margin-top: 1rem
        display: flex
        flex-direction: column

    .reviewAuthor
        padding-top: 1rem
        font-weight: 600
        font-size: 20px

    .reviewRating
        display: flex
        flex-direction: row
        align-items: center

        label
            margin-left: 0.5rem

    .reviewText
        padding-bottom: 1rem
        overflow-wrap: break-word
        word-wrap: break-word