.detailContainer
    display: flex
    font-size: 1rem
    flex-direction: column
    border-radius: 0.5rem
    width: 95%
    margin-top: 3rem

    .line
        border: 1px dashed #000

    .row
        margin: 1rem

    h2
        color: #332036
        font-weight: 900
        font-size: 1.2rem
        &:first-child
            margin-top: 2rem

    .info
        margin-top: 2rem
        margin-left: -3rem

    .ginfo
        margin-left: 1rem

    .salary
        color: green
        font-size: 1.2rem

    .basicInfoRow
        display: flex
        flex-direction: row
        justify-content: space-between
        .applyIcon
            align-self: flex-end

        .first
            display: flex
            align-self: flex-start

    .skillsRow
        display: flex
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap

    button
        background-color: #70446C
        color: #fff
        &:hover
            background-color: #F7C690
            color: black

@media only screen and (max-width: 920px)
    .detailContainer
        width: 100%

