.dynamicDot
    height: 10px
    width: 10px
    border-radius: 50%
    display: inline-block
    background-color: gray
    margin-right: 1px
    margin-left: 1px
    cursor: pointer

    .active
        background-color: green
