.dot
    height: 10px
    width: 10px
    border-radius: 50%
    display: inline-block
    background-color: green
    margin-right: 1px
    margin-left: 1px

.skillContainer
    display: flex
    flex-direction: row

    .skill
        display: flex
        flex-direction: column

        .deleteIcon
            font-size: 16

.active
    background-color: green

.inactive
    background-color: gray