.addJobContainer
    display: flex
    justify-content: center
    margin-top: 6rem

    .btn
        background-color: #70446C
        color: white
        &:hover
                background-color: #F7C690
                color: black
    .paper
        width: 100vh
        display: flex
        flex-direction: column

        p
            color: #5E3C63

        .backBtn
            align-self: flex-start
            margin: 1.5rem

        .rowHeader
            margin-left: 2rem
            margin-top: 3rem
            margin-bottom: 3rem
            font-weight: 500

        .row
            margin-left: 2rem
            margin-right: 2rem
            margin-top: 2rem
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center

            .skillWidgets
                margin-right: auto
                display: flex
                flex-direction: row

                div
                    margin-right: 1rem

            &:first-of-type
                margin-top: 0

            .skillSelect
                margin-right: auto
                width: 50%


            .input
                margin-left: 1rem
                width: 33.3%
                margin-right: 1rem


            .editor
                min-height: 30vh
                border: 1px dotted gray
                border-radius: 1rem
                padding: 1rem

            .alignStart
                align-self: flex-start
                margin-right: auto


        .logoContainer
            display: flex
            align-items: center
            justify-content: center
            border: 1px dotted gray
            border-radius: 10%
            width: 33.3%
            height: 200px

            img
                padding: 0.5rem
                width: 200px
                height: 200px
                object-fit: contain

.noCompany
    text-align: center
    color: #6E0513
    margin-top: 10rem
    font-size: 1.2rem
