.container
    width: 90%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    cursor: pointer
    margin-top: 1.5rem
    padding: 12px

    .hovered
        background-color: red

    span
        margin-left: 6px


    .rightSide
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        margin-right: 1rem

        span
            margin-bottom: 6px

        .salary
            color: green
            font-size: 20px

        .dateBadge
            border: 1px
            color: #4256ef
            font-size: 16px
            background-color: #d9ddfc
            white-space: nowrap
            border-radius: 16px
            padding: 4px 7px

    .leftSide
        margin-left: 1rem
        display: flex
        align-self: flex-start
        justify-content: center
        align-items: center

        .info
            display: flex
            font-size: 20px
            flex-direction: column

        .logoContainer
            align-items: center
            display: flex
            width: 4rem
            height: 4rem

        .logo
            max-width: 2.5rem
            max-height: 2.5rem
            object-fit: contain

        .companyName
            color: #99a1ab

@media only screen and (max-width: 920px)
    .container
        width: 100%

