main
    margin-left: 2.5rem
    margin-right: 2.5rem

    .screen
        display: flex
        flex-direction: row

        .list
            display: flex
            width: 45%
            flex-direction: column

        .mapContainer
            margin-top: 2rem

        .applyDialog
            min-width: 30vh
            min-height: 20vh