.center
    text-align: center

.loggedAs
    display: flex
    align-items: center
    color: #271929
.pageTitle
    color: #5E3C63
    font-size: 1.6rem
    cursor: pointer
.btn
    color: #5E3C63
    font-weight: 900
nav
    .btn
        background-color: #5E3C63
        color: white
        &:hover
                background-color: #F7C690
                color: black


@media only screen and (max-width: 410px)
    .header
        flex-direction: column
