.myCompanyContainer
    display: flex
    flex-direction: row
    justify-content: center
    width: 100vh
    margin: 0 auto

    .image
        text-align: center
        margin-top: 1rem
        margin-bottom: 1rem


        img
            width: 200px
            height: 200px
            object-fit: contain
    .file
        display: flex
        justify-content: center

    .companyLeftSide
        display: flex
        flex-direction: column
        margin: 1rem auto

    .companyRightSide
        display: flex
        flex-direction: column
        width: 50%
        margin-top: 2rem
    button
        background-color: #F7C690
        color: black
        margin-top: 1rem
        margin-bottom: 1rem
        &:hover
            background-color: #FFDBF6
            color: black

    .btn
        margin: 1rem auto
        display: flex
        width: 500px
        color: white
        background-color: #70446C
        &:hover
            background-color: CF7C690
            color: black
        &:last-of-type
            margin: 0.5rem auto

