.companyDetailContainer
    margin: auto
    width: 50%
    .mainPaper
        display: flex
        flex-direction: column
        align-items: center
        margin: 1rem

        h1, h3
            color: #5E3C63

        .topIcons
            margin-right: auto

        button
            background-color: #70446C
            font-family:
            color: #fff
            margin: 0.5rem
            margin
            &:hover
                background-color: #F7C690
                color: black

        .row
            margin-top: 1rem
            margin-right: auto
            margin-left: 10%

            p
                margin-left: 0.75rem
                margin-bottom: 0

        .description
            width: 80%

        .logo
            object-fit: contain
            width: 35%
            float: right
            height: auto
            max-width: 100%

        .reviewDialog
            max-width: 40vh
