.appScreenContainer
    margin: 2rem

.jobSelect
    min-width: 150px

.download
    text-decoration: none
    color: #FFF
    &:hover
        color: #000

.cardContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .appCard
        max-width: 400px
        margin: 2rem

        .appHeader
            margin: 0.5rem 0.5rem 0.5rem 0

        .rejected
            color: #cc0000
        .accepted
            color: #006400
